---
import Layout from '@layouts/Layout.astro';
import PostCard from '@components/post/PostCard.astro';
import Pagination from '@components/common/Pagination.astro';
import { envConfig, siteConfig } from '@config';
import { resolveUrl } from '@utils/pathUtils';
import { CollectionUtils, PostUtils } from "@utils/collectionUtils";
import type { CollectionEntry } from "astro:content";
import type { GetStaticPathsOptions, GetStaticPathsResult, Page } from "astro";

// @Reference https://docs.astro.build/zh-cn/reference/routing-reference/#paginate
export async function getStaticPaths({ paginate }: GetStaticPathsOptions): Promise<GetStaticPathsResult> {
  const {content: contentConfig} = siteConfig;

  const sortedPosts = await new CollectionUtils("posts")
    .filter(PostUtils.filterNotDraft)
    .sortBy(PostUtils.compareByDateDesc)
    .all();

  return paginate(sortedPosts, {
    pageSize: contentConfig.postsPerPage
  })
}

interface Props {
  // @Reference https://docs.astro.build/zh-cn/reference/routing-reference/#paginate
  page: Page<CollectionEntry<"posts">>;
}

const { public: publicConfig } = envConfig;
const { page } = Astro.props;
const {
  data: currentPosts,
  currentPage,
  lastPage: totalPages,
  url: { prev: prevUrl, next: nextUrl },
} = page;
const basePath = resolveUrl('./', publicConfig.PUBLIC_BASE_URL, Astro.url.pathname);
---

<Layout 
  title={`文章 - 第${currentPage}页`}
  description={`技术文章和学习笔记`}
  noindex={true}
>
  <main class="w-full py-8">
    <header class="mb-10">
      <h1 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-4">文章</h1>
      <p class="text-lg text-gray-700 dark:text-gray-300">
        第 {currentPage} 页，共 {totalPages} 页 - 技术文章、学习笔记
      </p>
    </header>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {currentPosts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>
    
    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      prevUrl={prevUrl}
      nextUrl={nextUrl}
      basePath={basePath}
    />
  </main>
</Layout>
