---
import { getCollection } from 'astro:content';
import Hero from '@components/widgets/Hero.astro';
import Layout from '@layouts/Layout.astro';
import PopularTopics from '@components/blog/PopularTopics.astro';
import { siteConfig } from '@config';
import BrowserCategories from "@components/homepage/BrowserCategories.astro";
import RecentPosts from "@components/homepage/RecentPosts.astro";

// Get all blog posts and sort by date (newest first)
const posts = await getCollection('posts', ({ data }) => {
  return !data.draft;
});
const covers = await getCollection('covers');

// Sort posts by date (newest first)
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.date || 0).getTime() - new Date(a.data.date || 0).getTime();
});


// Get the latest 6 posts for the homepage
const latestPosts = sortedPosts.slice(0, 6);
---

<Layout
  title={siteConfig.title}
  withSiteName={false}
  description={siteConfig.description}
  wideContent={true}
>
  <main class="w-full py-8">
    <!-- Hero Section -->
    <Hero />

    <!-- Browse Categories Section -->
    <!--<BrowserCategories />-->

    <!-- Popular Topics Section -->
    <!--<PopularTopics tags={["Jamstack", "astro", "ai"]} postsPerTag={5} />-->

    <!-- Blog Posts Section -->
    {latestPosts.length > 0 &&
      <RecentPosts posts={latestPosts} />
    }

  </main>
</Layout>
